.header-name {
    float: left;
    margin: 0;
    font-size: larger;
}

.menu {
    float: right;
}

.menu > a {
    margin: 0 3px;
}

.header-line {
    clear: both;
    border: none;
    height: 1px;
    background-color: black;
}